<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Foods - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			 {{>header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Meals</h1>
							<ul id="foods">
								{{#each meals_data}}
								<li>
									<h2><a href="meals">{{this.name}}</a></h2>
									<div class="infos">
										<a href="meals"><img src="images/{{this.image}}" alt="Img" height="169" width="780"><span class="cover"></span></a>
										{{{this.description}}}
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>footer}}
	</div>
</body>
</html>